/* @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text'); */
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}


button {
  font-size: 15px;
  min-width: 50px;
  height: 24px;
  cursor: pointer;
  margin: 10px;
  padding: 0 10px;
}

input {
  font-size: 15px;
  padding: 2px;
}

input:nth-child(1) {
  margin-right: 20px;
}

div:disabled, input:disabled, button:disabled {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}


.codeTable {
  /* display: flex; */
  display: grid;
  margin: 10px 0;
  grid-template-columns: repeat(2, 1fr);
  background-color: coral;
  text-align: center;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* width: 100%; */
}

.itemName {
  display: block;
}

.test {
  background-color: brown;
  width: 33%;
}

p {
  /* display: flex; */
  /* display: grid; */

  padding: 5px;
  flex-grow: 0;
  /* flex-basis: 45%; */
  /* justify-content: space-around; */
  /* flex-wrap: nowrap; */
  /* align-items: center; */
  border-bottom: 1px solid black;
}

span {
  /* padding: 5px; */
  font-size: 14px;
}

div.name {
  dispaly: flex;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid black;
}

div.code {
  /* font-family: "Code_39 2_5"; */
  /* font-family: "Libre Barcode 39 Extended Text"; */
  font-family: "Libre Barcode 39 Text";
  font-size: 38px;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid black;
}


